.imagem2{
    background-image: url(https://avatars.githubusercontent.com/u/52469840?v=4);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;

}

.textos2{
    font-weight: bold !important; 
}

.btnCancelar{
    margin-right: 20px !important;

}

.text-decorator-none2{
    text-decoration: none;
}